<% options = mobile? ? [ 4, 3, 6, 8, 10 ] : [ 10, 12, 15, 18, 21, 24 ] %>

<div data-controller="column-selector">
  <div class="d-flex align-items-center mb-4 ms-3" style="gap: 0.5rem;">
    <%= select_tag :column,
        options_for_select(options, @card_columns || default_value),
        id: "columnSelect",
        data: {
          action: "change->column-selector#change",
          column_selector_target: "selector"
        },
        class: "form-select form-select-sm text-secondary shadow-sm books-per-shelf"
    %>
  </div>

  <%= form_with url: books_index_path, method: :get, local: true, id: "columnForm", data: { column_selector_target: "form" } do %>
    <%= hidden_field_tag :view, "card" %>
    <%= hidden_field_tag :column, @card_columns, id: "hiddenColumnInput" %>
  <% end %>
</div>