<% books.each_slice(books_per_shelf) do |row_books| %>
  <div class="shelf-row" data-controller="book-shelf">
    <div class="book-row">
      <% row_books.each do |book| %>
        <div class="book-on-shelf">
          <%= link_to book_link_path(book), data: { turbo_frame: "_top" } do %>
            <%= display_book_cover book,
                s3_class: "book-cover kino-rounded",
                url_class: "book-cover kino-rounded",
                nocover_img: true
            %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="shelf-bar"></div>
    <div class="shelf-depth"></div>
  </div>
<% end %>

<% if pagy && pagy.next %>
  <turbo-frame id="next_books" src="<%= books_path(view: @view_mode, page: pagy.next) %>" loading="lazy">
    <%= render "shared/loading_spinner" %>
  </turbo-frame>
<% end %>