# fly.toml app configuration file generated for bokrium on 2025-05-10T22:00:21+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bokrium'
primary_region = 'nrt'
console_command = '/rails/bin/rails console'

[build]

[env]
  PORT = '8080'

[processes]
  app = './bin/rails server -b 0.0.0.0 -p 8080'

[deploy]
  release_command = "bash -c 'DATABASE_URL=$DIRECT_DATABASE_URL bundle exec rails db:migrate'"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend" 
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  interval = '10s'
  timeout = '2s'
  grace_period = '5s'
  method = 'GET'
  path = "/up"
  protocol = 'http'
  tls_skip_verify = false

    [http_service.checks.headers]
    X-Forwarded-Proto = 'https'
