<div class="d-flex justify-content-center px-3 my-4">
  <div style="max-width: 800px; width: 100%;">
    <div class="row g-4">
      <div class="col-8">
        <%= link_to search_barcode_path, class: "btn filter-controls border shadow-sm rounded-4 py-4 w-100 d-flex flex-column justify-content-center align-items-center", style: "min-height: 140px;" do %>
          <i class="bi bi-upc-scan display-5 mb-1 text-primary-bok"></i>
          <span class="text-muted small">スキャン</span>
        <% end %>
      </div>

      <div class="col-4">
        <%= link_to new_book_path, class: "btn filter-controls border shadow-sm rounded-4 py-4 w-100 d-flex flex-column justify-content-center align-items-center", style: "min-height: 140px;" do %>
          <i class="bi bi-journal-plus display-5 mb-1 text-success"></i>
          <span class="text-muted small">入力</span>
        <% end %>
      </div>
    </div>
  </div>
</div>