<div class="d-flex justify-content-center mt-2 mt-md-3 px-3">
  <div class="search-bar-container w-100" style="max-width: 800px;">
    <%= form_with url: search_books_path, method: :get, local: true, data: { controller: "spinner" } do %>
      <div class="search-bar-grid">
        <!-- セレクト -->
        <div>
          <%= select_tag :type,
                options_for_select([["タイトル", "title"], ["著者", "author"], ["ISBN", "isbn"]], params[:type]),
                class: "form-select bg-light rounded-pill embossed w-100 w-md-auto mx-auto",
                onchange: "this.form.submit()" %>
        </div>

        <!-- キーワード -->
        <div>
          <%= text_field_tag :query, params[:query],
                class: "form-control bg-light rounded-pill embossed border-0 py-2 w-100",
                placeholder: placeholder_for(params[:type]) %>
        </div>

        <!-- ボタン -->
        <div class="d-flex gap-2 justify-content-end align-items-center">
          <%= render "search/search_buttons", type: params[:type], query: params[:query] %>
        </div>
      </div>
    <% end %>
  </div>
</div>