<% if type.blank? || type == "title" || type == "author" %>
  <div class="flex-fill">
    <%= button_tag "楽天検索",
              type: "submit",
              formaction: search_books_path(engine: "rakuten", type: type || "title", query: query),
              method: :get,
              class: "btn btn-primary w-100" %>
  </div>

  <div class="flex-fill">
    <%= button_tag "Google検索",
              type: "submit",
              formaction: search_google_books_path(query: query, page: 1),
              method: :get,
              class: "btn btn-outline-success w-100" %>
  </div>
<% end %>

<% if type == "isbn" %>
  <div class="flex-fill">
    <%= button_tag "検索", type: "submit", name: "engine", value: "isbn", class: "btn btn-primary w-100" %>
  </div>
<% end %>