<% if resource.errors.any? %>
  <div class="flash-message d-flex align-items-center gap-2 shadow mb-2" data-status="error" role="alert" data-turbo-cache="false">

    <div>
      <strong>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'errors.messages.not_saved')) %>
      </strong>
      <ul class="mb-0 ps-3">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>