<% if show_s3_cover? %>
  <%= image_tag cloudfront_url, {
    alt: @alt,
    loading: "lazy",
    class: "img-fluid #{@s3_class}".strip,
    height: "auto"
  }.merge(@options) %>

<% elsif show_url_cover? %>
  <%= image_tag @book.book_cover, {
    alt: @alt,
    loading: "lazy",
    class: "img-fluid #{@url_class}",
    style: ""
  }.merge(@options) %>

<% else %>
  <div class="cover-placeholder-wrapper">
    <%= image_tag("no_cover.png", class: "img-fluid rounded-sm placeholder-cover #{@no_cover_class}") %>
    <div class="cover-title-overlay brake-word"><%= title_for_overlay %></div>
    <div class="logo-overlay">Bokrium</div>
  </div>
<% end %>