<div class="d-flex justify-content-center mb-5">
  <%= link_to export_books_path, class: "btn btn-outline-primary shadow-sm d-inline-flex align-items-center gap-2 px-4 py-1 rounded-pill" do %>
    <%= bi_icon("file-earmark-arrow-down", css: "is-5") %>
    <span>読書データをCSVでエクスポート</span>
  <% end %>
</div>
