<turbo-frame id="animation_sample_lazy">
  <section class="layout-intro mt-5" data-controller="animation">
    <h2 class="fade-in delay-1">選べる5つの本棚レイアウト</h2>
    <div class="layouts">
      <div class="card shelf_icon slide-in delay-2"><i class="bi bi-bookshelf fs-5 icon-refined"></i><span class="text-muted">本棚</span></div>
      <div class="card shelf_icon slide-in delay-3"><i class="bi bi-layout-three-columns fs-5 icon-refined"></i> <span class="text-muted">背表紙</span></div>
      <div class="card shelf_icon slide-in delay-4"><i class="bi bi-file fs-5 icon-refined"></i> <span class="text-muted">カード</span></div>
      <div class="card shelf_icon slide-in delay-5"><i class="bi bi-layout-sidebar-inset fs-5 icon-refined"></i> <span class="text-muted">リスト</span></div>
      <div class="card shelf_icon slide-in delay-6"><i class="bi bi-table fs-5 icon-refined"></i><span class="text-muted"> 表形式</span></div>
    </div>
  </section>

  <div class="mb-5"  data-controller="animation">
    <%= lazy_image_tag "bookshelfs_views.png", alt: "Bokriumの本棚レイアウト", class: "img-fluid mb-5 mx-auto d-block fade-in delay-4" %>
  </div>
</turbo-frame>