<turbo-frame id="barcode_section_frame">
    <section data-controller="animation">
      <h2 class="fade-in delay-2 text-center border-bottom fw-normal pb-2 mb-4">
      <span class="fs-1">🤳</span> <%= link_to search_barcode_path, title: "バーコードスキャン", data: { turbo_frame: "_top" } do %><i class="bi bi-upc-scan"></i><% end %>
        <strong>スマホでピッと。</strong>
      </h2>
      <p class="slide-in delay-3 text-muted mt-5 px-2 px-md-5 mb-5">
        お手持ちの書籍のバーコードにスマートフォンをかざすだけで、本棚に簡単に追加できます。カメラ性能の高い<strong>タブレットやPCからも</strong>ご利用可能です。読み取り精度は環境によって異なります。うまくいかない場合は、<%= link_to search_books_path, title: "検索", data: { turbo_frame: "_top" }, class: "text-decoration-none" do %><i class="bi bi-search"></i> 検索<% end %>
        や <%= link_to new_book_path,title: "手動入力", data: { turbo_frame: "_top" }, class: "text-decoration-none" do %><i class="bi bi-pencil"></i> 手動入力<% end %>をご利用ください。
      </p>
    </section>
  </div>

  <!-- バーコードスキャン動画 -->
  <div class="layout-intro rounded-4 fade-in delay-4 mb-5" data-controller="animation">
    <%= render "guest/starter_books/barcode_scan_video" %>
  </div>
</turbo-frame>