<turbo-frame id="guidebook_section_frame">
  <div class="fade-in delay-4" data-controller="animation">
    <%= render Books::SpineGridComponent.new(
      books: books, spine_per_shelf: 10, pagy: nil
    ) %>
  </div>
</turbo-frame>