<turbo-frame id="guidebook_section_frame">
  <div class="fade-in delay-4" data-controller="animation">
    <%= render "bookshelf/spine", books: books, spine_per_shelf: 5, pagy: nil %>
  </div>
</turbo-frame>