<turbo-frame id="memo_section_frame">
  <section class="my-5" data-controller="animation">
    <h2 class="fade-in delay-1 text-center border-bottom fw-normal pb-2 mb-4">
      <span class="fs-1">✍️</span> <%= link_to book_link_path(books.first), data: { turbo_frame: "_top" } do %><i class="bi bi-book"></i><% end %>
      <strong>メモで深まる。</strong>
    </h2>

    <p class="slide-in delay-2 text-muted px-2 px-md-5">
      メモには自由に引用・要約・感想を書き込めます。<strong>画像の保存</strong>も可能です。LINEと連携すると、過去のメモがランダムに届き、読書体験を振り返るきっかけになります。
    </p>
  </section>

  <!-- メモ作成動画 -->
  <div class="fade-in delay-4 mb-5" data-controller="animation">
    <%= render "guest/starter_books/memo_video" %>
  </div>
</turbo-frame>