<% flash.each do |type, message| %>
  <div class="flash-message alert alert-<%= type == "success" ? "success" : "danger" %> alert-dismissible fade show"
      role="alert"
      id="flash-<%= SecureRandom.uuid %>"
      data-controller="flash">
    <%= message %>
  </div>
<% end %>
