<% flash.each do |type, message| %>
  <% bootstrap_class = case type.to_sym
      when :notice then "success"
      when :alert then "danger"
      when :success then "success"
      when :error then "danger"
      else "info"
    end %>
  <div class="flash-message alert alert-<%= bootstrap_class  %> alert-dismissible fade show"
      role="alert"
      id="flash-<%= SecureRandom.uuid %>"
      data-controller="flash">
    <%= message %>
  </div>
<% end %>
