<% flash.each do |type, message| %>
  <% icon = case type.to_sym
    when :success, :notice, :info then "patch-check-fill"
    when :alert, :error, :danger  then "exclamation-triangle-fill"
    else "bi bi-info-circle-fill"
  end %>

  <% status = case type.to_sym
    when :success, :notice, :info then "success"
    when :alert, :error, :danger  then "error"
    else "info"
  end %>

  <div class="flash-message shadow" data-status="<%= status %>">
    <%= bi_icon(icon, css: "is-5") %>
    <span class="flash-message-text"><%= message %></span>
  </div>
<% end %>