<% flash.each do |type, message| %>
  <% normalized_type = type.to_s.downcase.to_sym %>
  <% icon = case normalized_type
    when :success, :notice, :info then "patch-check-fill"
    when :alert, :error, :danger  then "exclamation-triangle-fill"
    when :warning                then "exclamation-circle-fill"
    else "info-circle-fill"
  end %>

  <% status = case normalized_type
    when :success, :notice, :info then "success"
    when :alert, :error, :danger  then "error"
    when :warning                then "warning"
    else "info"
  end %>

  <div class="flash-message shadow" data-status="<%= status %>">
    <%= bi_icon(icon, css: "is-5") %>
    <span class="flash-message-text"><%= message.html_safe? ? message : h(message) %></span>
  </div>
<% end %>