<% flash.each do |type, message| %>
  <div class="flash-message alert alert-<%= type == "success" ? "success" : "danger" %> alert-dismissible fade show"
       role="alert"
       id="flash-<%= SecureRandom.uuid %>"
       data-controller="flash">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
