<footer class="footer bg-light border-top py-4 mt-auto">
  <div class="container text-center">
    <!-- ロゴ -->
    <div>
      <%= link_to "Bokrium", root_path, class: "big-shoulders-inline-bold logo-footer text-dark", style: "font-size: 2.5rem; text-decoration: none;" %>
    </div>
    <!-- メニュー -->
    <ul class="list-inline mt-2 mb-0">
      <li class="list-inline-item">
        <%= link_to "利用規約", root_path, class: "footer-link text-secondary" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "プライバシーポリシー", root_path, class: "footer-link text-secondary" %>
      </li>
      <li class="list-inline-item">
        <%= link_to "お問い合わせ", root_path, class: "footer-link text-secondary" %>
      </li>
    </ul>
  </div>
</footer>
