<footer class="footer rhodia-gray border-top py-4 mt-auto">
  <div class="container text-center">
    <div>
      <%= link_to "Bokrium", root_path, class: "big-shoulders-inline-bold logo-footer text-light", style: "font-size: 2.5rem; text-decoration: none;" %>
    </div>

    <div class="d-flex justify-content-center flex-nowrap gap-3 mt-2 mb-0 small overflow-x-auto" style="list-style: none; padding-left: 0;">
      <div class="text-nowrap">
        <%= link_to "利用規約", root_path, class: "footer-link text-white-50" %>
      </div>
      <div class="text-nowrap">
        <%= link_to "プライバシーポリシー", root_path, class: "footer-link text-white-50" %>
      </div>
      <div class="text-nowrap">
        <%= link_to "お問い合わせ", root_path, class: "footer-link text-white-50" %>
      </div>
    </div>
  </div>
</footer>