<!-- app/views/shared/_limit_reached_message.html.erb -->
<div id="<%= dom_id %>" class="limit-message alert alert-warning alert-dismissible fade show mt-2" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  <p class="mb-1"><%= message %></p>
  <p class="mb-0">
    より多くの機能を使うには、
    <%= link_to "有料プランにアップグレード", plans_path, class: "fw-bold text-decoration-underline" %>
    してください。
  </p>
</div>