<%= form_with url: explore_path, method: :get,
              data: { controller: "responsive-slice", turbo_frame: "books_frame" },
              class: local_assigns[:form_class] || "d-flex justify-content-center" do %>

  <%= hidden_field_tag :scope, scope %>
  <%= hidden_field_tag :slice, "", data: { responsive_slice_target: "input" } %>

  <div class="input-group search-box shadow-sm bg-white border rounded-pill overflow-hidden" style="max-width: 550px; width: 90%;">
    <%= text_field_tag :q, params[:q], placeholder: placeholder || "検索", class: "form-control border-0 bg-white py-2" %>
    <button type="submit" class="btn btn-primary border-0 px-4 rounded-pill-right">
      検索
    </button>
  </div>
<% end %>