<div class="col-md-3 text-center">
  <% if @book.book_cover.present? %>
    <%= image_tag @book.book_cover.url, alt: @book.title, class: "img-fluid rounded shadow-sm", style: "max-height: auto;" %>
  <% else %>
    <div class="bg-light d-flex align-items-center justify-content-center rounded shadow-sm" style="height: auto;">
      <span class="text-muted">画像なし</span>
    </div>
  <% end %>
</div>