<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">
          <i class="bi bi-gear me-2"></i> 本の操作
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる" style="margin-top: -0.2rem;"></button>
      </div>

      <div class="modal-body" style="padding: 0.5rem 1.5rem 1.5rem;">
        <ul class="my-3 modal-action-list">
          <li class="modal-action-item">
            <%= link_to edit_book_path(book), class: "modal-action-button edit" do %>
              <span>
                <i class="bi bi-pencil-square me-2"></i> 編集する
              </span>
              <i class="bi bi-chevron-right small"></i>
            <% end %>
          </li>
          <li class="modal-action-item">
            <%= form_with url: book_path(book), method: :delete,
                  data: { turbo_confirm: "本のデータとメモが削除されると、もとに戻すことはできません。\n本当に削除してもよろしいでしょうか？" },
                  html: { class: "m-0 p-0" } do %>
              <button type="submit" class="modal-action-button delete">
                <span>
                  <i class="bi bi-trash2 me-2"></i> 削除する
                </span>
                <i class="bi bi-chevron-right small"></i>
              </button>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>