<%= form_with(model: @book, local: false, class: "status-form mb-0") do |f| %>
  <div class="d-inline-flex align-items-center gap-2">
    <%= f.select :status,
          Book.statuses.keys.map { |s| [t("books.status.#{s}"), s] },
          {},
          class: "form-select form-select-sm",
          style: "width: auto; min-width: 120px;",
          onchange: "this.form.requestSubmit();" %>
  </div>
<% end %>
