<% current_user.tags.each do |tag| %>
  <span
    role="button"
    class="badge rounded-pill mx-1 mb-2 tag-btn"
    data-action="click->tag-toggle#toggle"
    data-tag-toggle-name-param="<%= tag.name %>"
    style="background-color: <%= tag.color %>; color: white; opacity: 0.5; cursor: pointer;">
    <%= tag.name %>
  </span>
<% end %>