<%= turbo_frame_tag "modal" do %>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-rhodia-orange d-flex justify-content-center py-2">
          <i data-lucide="book-open-text" style="width: 20px; height: 20px;"></i>
        </div>
        <div class="card-body">
          <%= render 'books/form', book: @book %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>