<% content_for :title, "本棚 - Bokrium" %>

<%= empty_bookshelf_notice %>

<div class="d-flex align-items-center justify-content-between mt-4 mb-3 px-3">
  <div class="flex-shrink-0">
    <%= render "shared/bookshelf_view_switcher", view_mode: @view_mode %>
  </div>

  <%= render "shared/filter_controls",
              context: user_signed_in? ? "mine" : "guest",
              filtered_tag: @filtered_tag,
              filtered_tags: @filtered_tags,
              filtered_status: @filtered_status,
              view_mode: @view_mode
  %>
</div>

<%= render "bookshelf/books_frame_wrapper",
            books: @books,
            books_per_shelf: @books_per_shelf,
            pagy: @pagy,
            view_mode: @view_mode,
            card_columns: @card_columns,
            detail_card_columns: @detail_card_columns,
            spine_per_shelf: @spine_per_shelf
%>
