<div class="container text-center my-4">
  <%= link_to "ISBNで検索",  search_by_isbn_books_path, class: "btn btn-secondary" %>
    <%= link_to "キーワードで検索",  search_by_title_books_path, class: "btn btn-secondary" %>
  <%= link_to "著者で検索",  search_by_author_books_path, class: "btn btn-secondary" %>
  <%= link_to "手動で入力",  new_book_path, class: "btn btn-secondary" %>
</div>
