<turbo-frame id="tag_filter_frame">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap gap-2 px-3 py-2 bg-light-bok border rounded-pill shadow-sm align-items-center">
      <% user_tags.each do |tag| %>
        <span
          role="button"
          class="badge rounded-pill tag-btn text-white"
          data-action="click->tag-toggle#toggle"
          data-tag-toggle-name-param="<%= tag.name %>"
          style="background-color: <%= tag.color %>; cursor: pointer;">
          <%= tag.name %>
        </span>
      <% end %>
    </div>
  </div>
</turbo-frame>