.books-per-shelf {
  width: 60px;
  font-size: 0.8rem;
  padding: 0.15rem 0.5rem;
  border-radius: 999px;
  background-color: #f9f9f9;
}

.btn-primary-bok {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2d61d1;
  --bs-btn-border-color: #2d61d1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2f5392;
  --bs-btn-hover-border-color: #2f5392;
  --bs-btn-focus-shadow-rgb: 45, 97, 209;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #294d88;
  --bs-btn-active-border-color: #27477f;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2d61d1;
  --bs-btn-disabled-border-color: #2d61d1;
}

.safari-modal-action-button {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.bookshelf-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 1;
}

.like-circle-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;

  i {
    font-size: 1.2rem;
  }
}