.book-info {
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  line-height: 1.5;
  word-break: break-word;
}


@media (max-width: 576px) {
  .book-info h3
  .book-info .text-secondary,
  .book-info .mb-2,
  .book-info .mt-2 {
    display: block;
    margin-bottom: 0.4rem;
    padding-left: 0.4rem;
    text-align: left;
  }
}

.book-info {
  min-width: 0; // テキストの折り返しに必要
  flex-grow: 1;
}



.book-cover img {
  width: auto;
  height: auto;
  max-width: 100px;

  @media (min-width: 576px) {
    max-width: 3000px;
  }

  @media (min-width: 768px) {
    max-width: 150px;
  }

  @media (min-width: 992px) {
    max-width: 180px;
  }
}