.big-shoulders-inline-bold {
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
}

.logo-welcome {
  font-size: 3rem;
  letter-spacing: 0.03em;
}

.logo-plans {
  font-size: 2.4rem;
  letter-spacing: 0.03em;
}

.note {
  font-size: 0.75rem;
}

.fs-title {
  font-size: 1.1rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.fs-info {
  font-size: 0.9rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.lh-show {
  line-height: 1.75;

  @media (min-width: 768px) {
  font-size: 2;
}
}
