.big-shoulders-inline-bold {
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
}

.logo-welcome {
  font-size: 3rem;
  letter-spacing: 0.03em;
}

.logo-plans {
  font-size: 2.4rem;
  letter-spacing: 0.03em;
}

.note {
  font-size: 0.75rem;
}

.fs-title {
  font-size: 1.1rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.fs-info {
  font-size: 0.9rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.lh-show {
  line-height: 1.75;

  @media (min-width: 768px) {
  font-size: 2;
}
}

.rh1 {
  font-size: 1.5rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

.rh2 {
  font-size: 1.25rem;
  @media (min-width: 768px) {
    font-size: 1.75rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.25rem;
  }
}

.rh3 {
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.rh4 {
  font-size: 0.95rem;
  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
}

.rh5 {
  font-size: 0.85rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.1rem;
  }
}

.rh6 {
  font-size: 0.75rem;
  @media (min-width: 768px) {
    font-size: 0.9rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}

.text-sample {
  font-size: 0.92rem;
}