.like-circle-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05); // 控えめなhover効果
  }

  i {
    font-size: 1.2rem;
  }
}