.books-grid {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  gap: 10px 10px;
  padding: 0 7px;

}

@media (max-width: 3840px) {
  .books-grid {
    grid-template-columns: repeat(18, 1fr);
  }
}

@media (max-width: 2560px) {
  .books-grid {
    grid-template-columns: repeat(15, 1fr);

  }
}

@media (max-width: 1920px) {
  .books-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (max-width: 1400px) {
  .books-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-width: 1200px) {
  .books-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (max-width: 992px) {
  .books-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 576px) {
  .books-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book-cover {
  width: 100%;
  aspect-ratio: 4 / 5;
  display: block;
  border-radius: 4px;
  object-fit: contain;
  box-sizing: border-box;
  margin: 8px auto;
}
.no-cover {
  position: relative;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 4 / 5;
  background: #f5d75b;
  color: #2a1e00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.88em;
  font-weight: bold;
  font-family: "Georgia", serif;
  text-align: center;
  padding: 8px;
  padding-bottom: 88px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 8px auto;
}
.no-cover::before {
  content: "Bokrium";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(79, 78, 78);
  color: white;
  font-size: 0.66em;
  font-weight: normal;
  text-align: right;
  padding: 2px 6px;
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
}