table.table thead.table-light-bok th {
  background-color: rgb(22, 67, 180) !important;
  color: white !important;
  border-color: rgba(0, 0, 0, 0.1);
}

.table-rounded {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.25rem;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .table-auto-sm td,
  .table-auto-sm th {
    padding: 0.25rem 0.25rem;
  }
}
