@import "bootstrap";
@import "books";
@import "footer";

.big-shoulders-inline-bold {
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
}

// スティッキーフッター用
// html, body {
//   height: 100%;
// }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// .main-content {
//   flex: 1;
// }

