@import "bootstrap";
@import "animation";
@import "avatar";
@import "bookshelf/kino";
@import "bookshelf/spine";
@import "bookshelf/card";
@import "bookshelf/detail_card";
@import "bookshelf/b_note";
@import "buttons";
@import "color";
@import "filter_controls";
@import "flash";
@import "font";
@import "footer";
@import "header";
@import "modals";
@import "pagination";
@import "shadows";
@import "starters";
@import "tags";
@import "tip_tap";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", sans-serif;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.random-memo {
  background-color: #fdfdfd;
  border-left: 4px solid #007bff;
  border-radius: 0.5rem;
}

[data-lucide] {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.readonly-mode {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed !important;
}

.mt-8 {
  margin-top: 4.5rem;
}


.mxw-80 {
  max-width: 80px;
}

.mxw-100 {
  max-width: 160px;
}

.mxw-160 {
  max-width: 160px;
}