@import "bootstrap";
@import "books";
@import "footer";

.big-shoulders-inline-bold {
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 700;
}
// body::before {
//   content: "Hello from SCSS!";
//   display: block;
//   background: #D88200;
// }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:rgba(221, 231, 233, 0.25);
}

.yomoo-color {
  background-color:rgba(221, 231, 233, 0.4);
}

.stone-color {
  background-color:rgb(204, 218, 221);
}


.rhodia-cover-blue {
  background-color:rgb(54, 54, 146, 0.8);
}

.rhodia-gray {
  background-color: #2D2D2D;
}

@mixin avatar-circle($size) {
  width: $size;
  height: $size;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-circle {
  @include avatar-circle(100px);
}

.avatar-circle-mini {
  @include avatar-circle(35px);
}

.rhodia-grid-bg {
  background-color: #f8f9fa;
  background-image:
    linear-gradient(to right, rgba(0, 47, 255, 0.125) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 85, 255, 0.125) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 40px
}

.bg-rhodia-orange {
  background-color: #f7a54d;
  background-image:
    url('orange-background.jpg'),
    linear-gradient(135deg, #f4a148 0%, #ffb347 100%);
  background-size: cover, 100% 100%;
  background-blend-mode: lighten;
}



