<div
  class="card memo-display"
  data-controller="memo-modal"
  data-action="click->memo-modal#open"
  data-memo-modal-memo-id-value="<%= memo.id.to_s %>"
  data-memo-modal-book-id-value="<%= book.id.to_s %>"
  id="memo-<%= memo.id %>"
>
  <div class="card-header bg-rhodia-orange d-flex justify-content-center py-2">
    <i class="bi bi-cloud-fog2-fill"></i><i class="bi bi-cloud-haze2"></i><i class="bi bi-cloud-fog2-fill"></i>
  </div>
  <div class="card-body rhodia-grid-bg">
    <%= memo.content&.html_safe.presence || content_tag(:p, "（内容はまだありません）") %>
  </div>
</div>