<div class="container text-center my-4">
  <% if @results.any? %>
    <h2 class="mb-3 ">検索結果（<%= @results.size %>件）</h2>

    <% case params[:scope] %>
    <% when "public" %>
      <div id="memo-grid" class="row row-cols-1 row-cols-md-3 g-4">
        <%= render partial: "public_bookshelf/public_card", collection: @results, as: :memo %>
      </div>
    <% when "mine" %>
      <%= render partial: "bookshelf/kino_books_grid", locals: { books: @results, books_per_shelf: @books_per_shelf } %>
    <% else %>
      <p class="text-center text-warning">スコープが不正です</p>
    <% end %>

  <% else %>
    <p class="text-muted mt-4">該当する書籍が見つかりませんでした。</p>
  <% end %>
</div>