name: Fly Deploy

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'   # README.md, AGENTS.md, SPEC.md など .md 全部
      - 'docs/**'

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-24.04
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2
        with:
          version: 0.4.6

      - run: flyctl deploy --remote-only --no-cache
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
