name: Fly Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'   # README.md, AGENTS.md, SPEC.md など .md 全部
      - 'docs/**'

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1

      - uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2
        with:
          version: 0.4.6

      - run: flyctl deploy --remote-only --no-cache
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
