<div data-controller="image-upload" class="text-center mt-1 mb-3">
  <%= form_with model: [book, Image.new], local: false,
        html: {
          multipart: true,
          class: "d-inline-flex align-items-center gap-2",
          data: { image_upload_target: "form" }
        } do |f| %>

    <%= f.file_field :image_path,
          direct_upload: true,
          class: "d-none",
          data: {
            image_upload_target: "fileInput",
            action: "change->image-upload#triggerUpload"
          },
          id: "customFileInput" %>

    <label for="customFileInput" class="btn btn-outline-secondary btn-sm mb-0">
      <i class="bi bi-camera-fill"></i>
    </label>
  <% end %>
</div>