<div class="mt-5 mb-3 text-center">
  <%= form_with model: [book, Image.new], local: true, html: { multipart: true, class: "d-inline-flex gap-2 align-items-center" } do |f| %>
    <%= f.file_field :image_path, class: "form-control form-control-sm w-auto" %>
    <%= f.submit "アップロード", class: "btn btn-sm btn-primary" %>
  <% end %>
</div>